.button {
  font-weight: bolder;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

body {
  background-color: #DBDBDB;
  color: #003366;
}
@media screen and (min-width: 1024px) {
  body {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 1023px) {
  body {
    width: 85%;
    height: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    background-color: #CCCCCC;
    height: 2.25rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: sticky;
    top: 0;
    z-index: 999;
  }
}
@media screen and (max-width: 1023px) {
  .navbar {
    background-color: #CCCCCC;
    height: 2.25rem;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: sticky;
    top: 0;
    z-index: 999;
  }
}

@media screen and (min-width: 1024px) {
  .navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    height: 3rem;
    z-index: 1;
    width: 100%;
    max-width: 90rem;
    margin: 0;
    padding: 0 3.1rem;
  }
}
@media screen and (max-width: 1023px) {
  .navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex;
    height: 3rem;
    z-index: 1;
    width: 100%;
    max-width: 90rem;
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  #eyLogo {
    background-size: 100%;
    font-family: "Playwrite DE Grund", cursive;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: #003366;
    -moz-text-fill-color: #003366;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -0.75rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    overflow: visible;
  }
}
@media screen and (max-width: 1023px) {
  #eyLogo {
    background-size: 100%;
    font-family: "Playwrite DE Grund", cursive;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: #003366;
    -moz-text-fill-color: #003366;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -0.75rem;
    text-decoration: none;
    font-size: 1.5rem;
    overflow: visible;
    padding-left: 1.6rem;
  }
}

@media screen and (max-width: 1023px) {
  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
    width: 1.6rem;
    height: 0.2rem;
    margin: 0.2rem auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }
}

@media screen and (max-width: 1023px) {
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(0.5rem) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-0.5rem) rotate(-45deg);
  }
}
@media screen and (min-width: 1024px) {
  .navbarMenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
}
@media screen and (max-width: 1023px) {
  .navbarMenu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -100rem;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }
}

@media screen and (max-width: 1023px) {
  .navbarMenu.active {
    background: #CCCCCC;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1024px) {
  .navbarItem {
    height: auto;
  }
}
@media screen and (max-width: 1023px) {
  .navbarItem {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .navbarLink {
    color: #003366;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 7.5rem;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
  }
}
@media screen and (max-width: 1023px) {
  .navbarLink {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
}

@media screen and (min-width: 1024px) {
  .navbarLink:hover {
    color: #CC8A66;
    text-decoration: underline;
    transition: all 0.3s ease;
  }
}

@media screen and (min-width: 1024px) {
  .navbarButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 3rem;
    padding-left: 1rem;
    width: 100%;
  }
  .navbarButton #contactButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 1.5rem;
    color: #003366;
    transition: all 0.3s ease;
  }
  .navbarButton #contactButton:hover {
    background: #D7C3B9;
    border: #D7C3B9;
    transition: all 0.3s ease-in-out;
  }
}
@media screen and (max-width: 1023px) {
  .navbarButton {
    padding-bottom: 2rem;
  }
  .navbarButton #contactButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 5rem;
    margin: 0;
  }
}

@media screen and (max-width: 1023px) {
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
}

@media screen and (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .mainWrapper {
    display: grid;
    grid-template-columns: minmax(22rem, 1fr) minmax(30rem, 1fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 3rem;
    padding-top: 5rem;
    max-height: 43.75rem;
    max-width: 90rem;
  }
}
@media screen and (max-width: 1023px) {
  .mainWrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .heroText {
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 0;
    padding-left: 7rem;
    padding-right: 2rem;
    max-height: 31.25rem;
  }
  .heroText h1 {
    font-size: 4.5rem;
  }
  .heroText p {
    padding-top: 1.5rem;
    padding-bottom: 1.2rem;
    font-size: 1.5rem;
    text-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {
  .heroButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 7.5em;
    height: 2em;
    box-shadow: -0.1em 0.15em 0.25em #9AA9B9;
  }
}

@media screen and (min-width: 1024px) {
  #exploreButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background: #E5E5E5;
    border: none;
    border-radius: 0.25em;
    padding: 1rem 1rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #003366;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
}
#exploreButton:hover {
  background: #D7C3B9;
  border: #D7C3B9;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 1024px) {
  .heroImage {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 0;
    margin-bottom: 0;
    visibility: visible;
    background: #CC8A66; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #CC8A66, #CCCCCC); /* W3C, IE10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    border: transparent;
    border-top-left-radius: 22.5rem;
    border-top-right-radius: 22.5rem;
    border-bottom-left-radius: 9rem;
    border-bottom-right-radius: 9rem;
    height: auto;
    width: 37rem;
    aspect-ratio: 67/48;
  }
  .heroImage img {
    background: transparent;
    translate: -0.65rem 1.5rem;
    margin-top: 1rem;
    width: 26.4rem;
    height: auto;
    aspect-ratio: 504/517;
    filter: drop-shadow(0 0 1.5rem #D7C3B9);
    z-index: 1;
  }
}

@media screen and (min-width: 1024px) {
  .quoteWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2em 0;
    margin: 1em 0;
  }
}

@media screen and (min-width: 1024px) {
  .heroQuote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .heroQuote #quoteEY {
    font-weight: bolder;
  }
}

.highlight {
    border-bottom: 0.25rem solid #CC8A66;
}

.contactWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #e8fbff;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  height: 450px;
}

.contactContent {
  position: relative;
}

.contactContent input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #262626;
  margin-bottom: 30px;
  border: none;
  border-bottom: 2px solid #262626;
  outline: none;
  background: transparent;
}

.contactContent label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #262626;
  pointer-events: none;
  transition: 0.5s;
}

.contactContent input:focus ~ label,
.contactContent input:valid ~ label {
  top: -20px;
  left: 0;
  color: #101010;
  font-size: 12px;
  font-weight: 700;
}

#submit {
  background: linear-gradient(45deg, #0191aa, #0fc6e0);
  text-decoration: none;
  color: #fff;
  padding: 15px 0;
  display: block;
  text-align: center;
  margin-top: 8%;
  font-size: 25px;
  letter-spacing: 3px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
}

@media screen and (min-width: 1024px) {
  .footerWrapper {
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 3rem;
    max-height: 5rem;
    max-width: 90rem;
  }
}

@media screen and (min-width: 1024px) {
  .footerWrapper p {
    font-size: 1rem;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  border: 0;
  font-family: "Lato", sans-serif;
}
* .material-symbols-outlined, *:before .material-symbols-outlined, *:after .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body:before {
  content: "";
  background-image: url("https://cdn.pixabay.com/photo/2017/05/29/23/49/abstract-2355329_1280.png");
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.01;
  width: 100%;
  height: auto;
  aspect-ratio: 2/3;
  z-index: -10;
}

@supports (font-variation-settings: "wght" 450) {
  * {
    font-family: "Lato";
    font-weight: 450;
  }
}
